<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Test drive</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @car.brandname%></td>
        <td><%= @car.model %></td>
        <td><%= @car.test_drive%></td>
      </tr>
  </tbody>
</table>