<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Engine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
      <%@car.each do |el|%>
        <td><%= el['name']%></td>
        <td><%= el['price'] %></td>
        <td><%= el['engine']%></td>
      </tr>
      <%end%>
  </tbody>
</table>
