<%=@cars.inspect%>

<!-- <table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Test drive</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
		<tr>
       		<td><%= car[] %></td>
			<td><%=car['model']%></td>
			<td><%= 'Available' if car['test_drive']%></td>
		</tr>
		<%end%>
  </tbody>
</table> -->