<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @distributor.name %></td>
        <td><%= @distributor.address %></td>
      </tr>
  </tbody>
</table>